.SignupForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.SignupForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  min-height: 80vh;
  align-content: center;
}