.ForgotPassword .AppGlass {
  padding: 2rem;
  width: 350px;
  margin: auto;
  text-align: center;
}

.success {
  color: green;
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.auth-switch {
  margin-top: 1rem;
}
