.Checkbox {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: 500;  
    user-select: none;
}

.Checkbox input[type="checkbox"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  border-radius: 0.5rem; 
  border: 2px solid rgba(255, 255, 255, 0.5); 
  background-color: rgba(255, 255, 255, 0.1); 
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Checkbox input[type="checkbox"]:checked {
  background-color: #feac5e; 
  border-color: #feac5e;
}

.Checkbox input[type="checkbox"]:checked::after {
  content: '✔';
  color: #242424; 
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Checkbox label {
  cursor: pointer;
}