.GroupForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.error {
  color: #d9534f;
  margin-bottom: 12px;
  font-size: 14px;
}