
.Grid {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
  gap: 10px;
}

.welcome-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}